.wd-search-bar {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 0px 15px 5px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow for depth */
}

.wd-search-type {
  border-color: #949393;
  border-bottom: none;
  border-top: none;
  border-left: none;
  outline: none;
  appearance: none; /* Removes default browser styling */
  background-color: #f2f2f2;
  margin-right: 10px;
  padding: 12px 0px 12px 10px;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wd-search-input {
  border: none;
  outline: none;
  background: none;
  flex-grow: 1;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
}

.wd-search-type option:hover {
  box-shadow: 0 0 10px 100px #1882a8 inset;
  background-color: #666;
}

.wd-search-button, .wd-filter-button {
  border: none;
  outline: none;
  background: none;
  color: #0daece;
  padding-bottom: 4px;
  font-size: 20px;
  margin-right: 10px;
}

.wd-search-button:hover, .wd-filter-button:hover {
    color: #666;
}

.wd-custom-dropdown {
  position: relative;
}

.wd-dropdown-header {
  border-color: #ff0b0b;
  /* border-bottom: none;
    border-top: none;
    border-left: none; */
  outline: none;

  padding: 10px 15px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wd-dropdown-header:hover {
  background-color: #ccc;
}

.wd-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.wd-dropdown-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.wd-dropdown-item:hover {
  background-color: #f2f2f2;
}

.wd-dropdown-selected-label {
  font-weight: 500;
}

.wd-dropdown-label {
  color: black;
}

.wd-dropdown-item:hover .wd-dropdown-img {
  color: #0daece;
}

.wd-dropdown-item:hover .wd-dropdown-label {
  color: #0daece;
}

.wd-dropdown-item svg {
  margin-right: 5px;
}
