.wd-search-item-container  {
  margin: 10px;
  position: relative;
}

.wd-search-item-container img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow for depth */
  border: 1px solid #ccc;
}

.wd-search-item-container:hover img {
  filter: brightness(50%);
}

.wd-search-item-container:hover .wd-movie-search-info {
  opacity: 1;
}

.wd-movie-search-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.wd-movie-search-title {
  padding: 0 15px;
} 

.wd-movie-search-year {
  font-size: 16px;
}

.wd-movie-reels-indicator {
  color: r#0daeceed; /* Color for the star icon */
  position: absolute;
  right: 15px;
  display: inline-block;
  cursor: pointer;
}

.wd-star-reel-icon {
  font-size: 30px; /* Adjust icon size as needed */
}

.wd-star-reel-icon:hover {
  color: #0daeceed; /* Color for the star icon */
}

.wd-inreel-tooltip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.wd-movie-reels-indicator:hover .wd-inreel-tooltip {
  visibility: visible;
}




.wd-user-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.wd-avatar-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.wd-profile-pic {
  width: 50px;  /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%; /* Circular profile pictures */
  margin-right: 15px;
}

.wd-user-details {
  flex-grow: 1;
}

.wd-username {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.wd-role {
  font-style: italic;
  color: #666;
}

.wd-social-info {
  margin-top: 5px;
  color: #666;
}

.wd-social-info span {
  margin-right: 10px;
}

.wd-relation-icon {
  margin-left: 10px;
  color: #007bff; /* Adjust the color as needed */
  font-size: 16px; /* Adjust the size as needed */
}
