.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.page-link:hover {
  text-decoration: underline;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: white;
  /* Other styles for active page link */
}

.pagination .page-link[aria-disabled="true"] {
  pointer-events: none;
  /* Styles for disabled links */
}