.main-body {
  align-items: center;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.avatar-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-pic {
  text-decoration: none;
  color: black;
}

.profile-pic:hover {
  color: darkgrey;
}
