html,
body {
  width: 100%;
  justify-content: left !important;
}

.center-text {
  text-align: center;
}

.modal-quit {
  width: 50px !important;
  height: 50px !important;
  text-align: center;
  margin: 20px;
}

.stats-modal {
  top: "50%";
  left: "50%";
  right: "auto";
  bottom: "auto";
  marginright: "-50%";
  transform: "translate(-50%, -50%)";
  backgroundcolor: "white";
  width: 400;
}

.bio-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  background-color: #ffffff;
}

.bio-area .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.number {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bio-area .stats {
  background-color: #a1aab9 !important;
  font-size: 12px;
}

.stars {
  color: #f1c40f;
}

.edit-profile {
  opacity: 0;
}

.avatar:hover {
  color: darkgrey;
}

.stats:hover * {
  background-color: darkgoldenrod !important;
}

.stats:hover {
  background-color: darkgoldenrod !important;
}

.avatar.nohover {
  color: black;
}

.movie-links {
  text-decoration: none;
  color: black;
}

.movie-links:hover {
  color: darkgoldenrod;
}

.reel-movie:hover {
  border-color: #f1c40f !important;
  text-emphasis: bold;
  text-shadow: #f1c40f 0 0 10px;

}

.add-reels-btn:hover {
  color : green;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reels-title {
  text-align: center !important;
  font-weight: bold;
}
